.env
__pycache__/
*.xlsx
.ipynb_checkpoints/
*.json
**/*.json
!endpoints.json
*.ipynb
**/*.ipynb
*.txt
**/*.txt
realapp.py
obfuscate.py
deobfuscate.py
# commit with message after c
c.bat
# obfuscate & run
r.bat
# pull & deobfuscate
p.bat